{% extends "bts_asset_db/base.html" %}

{% block title %}Asset DB - Search Page{% endblock %}

{% block body_wrapper %}
    {% with page_section="asset_db" page_id="search" %}
        {{ block.super }}
    {% endwith %}
{% endblock %}

{% block fancy_header %}
    {% with header_main="Asset Database" header_sub="Search Page" %}
        {{ block.super }}
    {% endwith %}
{% endblock %}

{% block menu %}
    {% with page_id="search" %}
        {{ block.super }}
    {% endwith %}
{% endblock %}

{% block content %}
    <div class="row"
         id="item_collections_select"
         data-chosen-department="{{ chosen_department }}"
         data-chosen-category="{{ chosen_category }}"
         data-chosen-subcategory="{{ chosen_subcategory }}">

        <ul class="list-group list-group-container col-4"
            data-contains="departments"
            id="department_list"
            style="opacity:0; pointer-events:none"></ul>

        <ul class="list-group list-group-container col-4"
            data-contains="categories"
            id="category_list"
            style="opacity:0; pointer-events:none"></ul>

        <ul class="list-group list-group-container col-4"
            data-contains="subcategories"
            id="subcategory_list"
            style="opacity:0; pointer-events:none"></ul>

    </div>
    <div id="item_container"
         class="z-index-50 position-absolute col-12"
         style="opacity:0; pointer-events:none; top:0"></div>

    <div class="modal fade"
         id="item_modal"
         tabindex="-1"
         role="dialog"
         aria-labelledby="itemModalDialogue"
         aria-hidden="true">
        <div class="modal-dialog modal-xl"
             role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="item_modal_title">
                    </h5>
                    <button type="button"
                            class="close"
                            data-dismiss="modal"
                            aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                </div>
                <div class="modal-footer">
                    <button type="button"
                            class="btn btn-secondary"
                            data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}