{% load static %}

{% block imports %}
    <script
            src="{% static "bts_asset_db/js/jquery.min.js" %}">
    </script>
    <script
            src="{% static "bts_asset_db/js/jquery.color.min.js" %}">
    </script>
    <script
            src="{% static "bts_asset_db/js/bootstrap.bundle.min.js" %}">
    </script>
    <script
            src="{% static "bts_asset_db/js/fontawesome.min.js" %}">
    </script>
    <script
            src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js">
    </script>
{% endblock %}