{% load static %}

{% block styles %}
    <link rel="stylesheet" type="text/css" href="{%  static "bts_asset_db/css/main.css" %}">
    <!--<link rel="stylesheet" type="text/css" href="{% static "bts_asset_db/vendors.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static "bts_asset_db/style.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static "bts_asset_db/structure.main.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static "bts_asset_db/content.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static "bts_asset_db/pat_website.css" %}">-->
{% endblock %}