[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
Django = "*"
django-rest-framework = "*"
django-debug-toolbar = "*"
mysqlclient = "*"
keyring = "*"
secretstorage = "*"
python-dotenv = ">0.8"

[dev-packages]

[requires]
python_version = "3.8.6"
