{% load pat_extras %}

{% for record in records %}
    <table class="table table-bts" id="records_table_{{ forloop.counter }}">
        <thead>
            <tr>
                <th>Item ID</th>
                <th>Make</th>
                <th>Model</th>
                <th>Description</th>
                <th>Notes</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>{{ record.item.asset_id }}</td>
                <td>{{ record.item_make }}</td>
                <td>{{ record.item_model }}</td>
                <td>{{ record.item_description }}</td>
                <td>{{ record.item_notes }}</td>
            </tr>
            <tr>
                {% for test in tests|index:forloop.counter0 %}
                    <th>{{ test.test_type|testtranslate }}</th>
                {% endfor %}
            </tr>
            <tr>
                {% for test in tests|index:forloop.counter0 %}
                    <td>{{ test.test_parameter_1|preftranslate:test.test_type|index:0 }}{{ test.test_parameter_1 }}</td>
                {% endfor %}
            </tr>
            <tr>
                {% for test in tests|index:forloop.counter0 %}
                    <td>{{ test.test_parameter_2|preftranslate:test.test_type|index:1 }}{{ test.test_parameter_2 }}</td>
                {% endfor %}
            </tr>
            <tr>
                {% for test in tests|index:forloop.counter0 %}
                    <td>{{ test.test_parameter_3|preftranslate:test.test_type|index:2 }}{{ test.test_parameter_3 }}</td>
                {% endfor %}
            </tr>
        </tbody>
    </table>
{% endfor %}