<div id="itemclass_info"
     class="z-index-50 position-absolute"
     style="top: 0">

    <h3>{{ itemclass.name }}</h3>
    <dl class="row">
        <dt class="col-sm-3">Make:</dt>
        <dd class="col-sm-9">{{ itemclass.make }}</dd>

        <dt class="col-sm-3">Model:</dt>
        <dd class="col-sm-9">{{ itemclass.model }}</dd>

        <dt class="col-sm-3">Description:</dt>
        <dd class="col-sm-9">{{ itemclass.description }}</dd>
    </dl>

    <table id="item_table">

    </table>
</div>