{% for record in records %}
    <tr class="visual_row">
        {% if record.tester %}
        <td>Visual</td>
        {% elif record.repairer %}
        <td>Repair</td>
        {% else %}
        <td></td>
        {% endif %}

        <td>{{ record.item.asset_id }}</td>
        <td>{{ record.timestamp }}</td>

        {% if record.tester %}
        <td>{{ record.tester }}</td>
        {% elif record.repairer %}
        <td>{{ record.repairer }}</td>
        {% else %}
        <td></td>
        {% endif %}

        <td>{{ record.supervisor }}</td>
        <td>{% if record.failed %}Failed{% endif %}</td>
        <td class="visual_note_cell"><span class="visual_note_span" id="{{ record.id }}">{{ record.notes }}</span></td>
    </tr>
{% empty %}
    <tr id="visual_row">
        <td colspan="5" class="text-center">No records</td>
    </tr>
{% endfor %}